  <ion-view>
    <ion-content>
      <!--<img ng-src="../../../assets/images/logo.jpg" style='width:100%;' border="0"/>-->
      <div>
        <img ng-src="assets/images/logo.jpg" style='width:100%;height:100%' border="0"/>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input placeholder="Username" type="text" ng-model="user.emailId">
        </label>
        <label class="item item-input">
          <!--<span class="input-label">Password</span>-->
          <input placeholder="Password" type="password" ng-model="user.password">
        </label>
      </div>
      <div class="padding">
      <label ng-show="showErrormsg" class="assertive"> Invalid Credentials !!</label>
    </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="signIn(user)">
          Sign-In
        </button>
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
        <p class="text-center">
          <a href ng-click="signUpPage(user)">Please click here to Register</a>
        </p>
      </div>
    </ion-content>
  </ion-view>
